[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible-fact-cache
fact_caching_timeout = 3600
stdout_callback = yaml
result_format = yaml
remote_user = ubuntu
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
